.b{
    height: 150px;
    margin-right: 100px;
    margin-left: 125px;
    width: 150px;
    border: solid 2px black;
    display: inline-block;
}
#green{
    background-color: green;
    
}
#blue{
    background-color: blue;
}
#red{
    background-color: red;
}
.contrastDiv{
    height: 250px;
    text-align: center;
    justify-content: center;
}
.contrast{
    margin-top: 125px;
    height: 50px;
    width: auto;
}